.App {
    height: 100%;
    width: 100%;

    font-family: "Rubik";
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding-top: clamp(7rem, 8vw, 2.5rem);
    height: 100%;
    width: 100%;
}