.brandIcon {
    height: 4rem;
    width: 4rem;
    padding-bottom: 0.3rem;
}

.link {
text-decoration: none;
margin-left: 1.5rem;
padding-bottom: 0.1rem;
color: white;
transition: 300ms;
}

.link:hover {
    text-decoration: none;
    color: grey;
    transition: 400ms;
}